
/* Header */

.header-content-wrapper{
	display: flex;
	flex-wrap: wrap;	
}

.site-header{
	padding: 25px 15px;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

.header-content-wrapper{
	display: flex;
	justify-content: space-between;		
}

.nav-list{
	display: flex;
	justify-content: space-between;	
}

.nav-list li{
	margin-right: 32px;
	color: #111;
	font-size: 12px;
	letter-spacing: 0.3em;
	font-family: 'Montserrat', sans-serif;
	/* opacity: 0.7; */
	font-weight: 500;	
	text-transform: uppercase;
}

.nav-list :last-of-type{
	margin: 3px 0px 0px 0px;
}

header nav a:hover{	
	color: #fff;
	transition: 0.3s all ease-out;
}

.logo-box{
   position: relative;
   overflow:hidden;
   width:150px;
   height: 80px;
}

.basket-logo{
	background-image: url(../img/shopping-cart-black.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	width: 14px;
    height: 14px;
}

.search-logo{
	background-image: url(../img/search-icon-black.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	width: 14px;
    height: 14px;
}

.search-logo:hover{
	background-image: url(../img/search-icon-white.svg);
	transition: 0.3s all ease-out;
}

.basket-logo:hover{
	background-image: url(../img/shopping-cart-white.svg);
	transition: 0.3s all ease-out;
}

.logo-svg{
	position: absolute;
    top: -35px;
}

.basket-box{
	display: block;
	margin-top: 3px;
}

.basket-logo,
.search-logo{
	display: inline-block;
}

/* Ex-Large devices (large desktops, 1200px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Medium devices (desktops, 992px and up) */
/* Small devices (tablets, 768px and up) */
/* Extra small devices (phones, less than 768px) */

@media all and (max-width: 768px), all and (max-width: 992px){
	.site-navigation{
		padding-top: 32px;
	}	
}

/* @media (min-width: 640px) and (max-width: 767px) {...} */

@media (max-width: 700px){
	.nav-list li{
		margin-right: 15px;
	}	
}


@media (max-width: 610px){
	.site-navigation{
		display: none;
	}
	.header-content-wrapper{
		justify-content: center;
		align-items:center;
	}	
}







