
/* Header */

.header-content-wrapper{
	display: flex;
	flex-wrap: wrap;
	position: relative;	
}

.site-header{
	padding: 25px 15px;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

.header-content-wrapper{
	display: flex;
	justify-content: space-between;		
}

.nav-list{
	display: flex;
	justify-content: space-between;	
}

.nav-list li{
	margin-right: 32px;
	color: #111;
	font-size: 12px;
	letter-spacing: 0.3em;
	font-family: 'Montserrat', sans-serif;
	/* opacity: 0.7; */
	font-weight: 500;	
	text-transform: uppercase;
}

.nav-list :last-of-type{
	margin: 3px 0px 0px 0px;
}

header nav a:hover{	
	color: #fff;
	transition: 0.3s all ease-out;
}

.logo-box{
   position: relative;
   overflow:hidden;
   width:150px;
   height: 80px;
}

.basket-logo{
	background-image: url(../img/shopping-cart-black.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	width: 14px;
    height: 14px;
}

.search-logo{
	background-image: url(../img/search-icon-black.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	width: 14px;
    height: 14px;
}

.search-logo:hover{
	background-image: url(../img/search-icon-white.svg);
	transition: 0.3s all ease-out;
}

.basket-logo:hover{
	background-image: url(../img/shopping-cart-white.svg);
	transition: 0.3s all ease-out;
}

.logo-svg{
	position: absolute;
    top: -35px;
}

.basket-box{
	/* display: block; */
	margin-top: 3px;
}

.basket-logo,
.search-logo{
	display: inline-block;
}

/* Ex-Large devices (large desktops, 1200px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Medium devices (desktops, 992px and up) */
/* Small devices (tablets, 768px and up) */
/* Extra small devices (phones, less than 768px) */

@media all and (max-width: 768px), all and (max-width: 992px){
	.site-navigation{
		padding-top: 32px;
	}	
} 

/* @media (min-width: 640px) and (max-width: 767px) {...} */

@media (max-width: 700px){
	.nav-list li{
		margin-right: 15px;
	}	
}

@media all and (max-width: 611px), all and (max-width: 3000px){
	#menu-toggle {
		display: none;
	}	
}

@media (max-width: 610px){

	.header-content-wrapper {
		justify-content: flex-end;
	}

	/* Burger-menu */

	@keyframes checked-anim {
		50% {
			width: 3000px;
			height: 3000px;
		}
		100% {
			width: 100%;
			height: 100%;
			border-radius: 0;
		}
	}
	@keyframes not-checked-anim {
		0% {
			width: 3000px;
			height: 3000px;
		}
	}

	li {
		margin: 75px 0 -55px 0;
		color: #03A9F4;
		font: 14pt "Roboto", sans-serif;
		font-weight: 700;
		line-height: 1.8;
		text-decoration: none;
		text-transform: none;
		list-style: none;
		outline: 0;
		display: none;
		width: 230px;
		text-indent: 56px;
	}

	li:focus {
		display: block;
		color: #333;
		background-color: #eee;
		transition: all .5s;
	}

	#trigger, #burger, #burger:before, #burger:after {
		position: absolute;
		top: 25px;
		left: 25px;
		background: black;
		width: 30px;
		height: 5px;
		transition: .2s ease;
		cursor: pointer;
		z-index: 1;
	}
	#trigger {
		height: 25px;
		background: none;
	}
	#burger:before {
		content: " ";
		top: 10px;
		left: 0;
	}
	#burger:after {
		content: " ";
		top: 20px;
		left: 0;
	}

	#menu-toggle:checked + #trigger + #burger {
		top: 35px;
		transform: rotate(180deg);
		transition: transform .2s ease;
	}

	#menu-toggle:checked + #trigger + #burger:before {
		width: 20px;
		top: -2px;
		left: 18px;
		transform: rotate(45deg) translateX(-5px);
		transition: transform .2s ease;
	}
	#menu-toggle:checked + #trigger + #burger:after {
		width: 20px;
		top: 2px;
		left: 18px;
		transform: rotate(-45deg) translateX(-5px);
		transition: transform .2s ease;
	}

	.nav-list {
		position: absolute;
		margin: 0; padding: 0;
		width: 110px;
		height: 110px;
		background-color: #fff;
		border-bottom-right-radius: 100%;
		box-shadow: 0 2px 5px rgba(0,0,0,0.26);
		animation: not-checked-anim .2s both;
		transition: .2s;
	}

	#menu-toggle:checked + #trigger + #burger + .nav-list {
		animation: checked-anim 1s ease both;
	}
	#menu-toggle:checked + #trigger ~ .nav-list > li, a {
		display: block;
	}
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
		display: none;
	}

}







